@import url('https://fonts.cdnfonts.com/css/cofo-sans');
@import url("https://cdn.jsdelivr.net/npm/@mdi/font@7.2.96/css/materialdesignicons.min.css");

:root {
  font-family: 'CoFo Sans', sans-serif;
  --background-color: #FFFFFF;
  --primary-color: #007BFC;
  --primary-color-light: #1888FC;
  --secondary-color: #DDDDDD;
  --background-color: #f4f6fb;
}

body {
  margin: 0;

}

.logo {
  width: 150px;
  height: 20px;
  display: block;

}

header {
  margin: 0px 300px;
  display: flex;
  justify-content: space-between;
  align-self: center;


}

.back {
  padding: 15px;
  background-color: #f4f6fb;

}

.stoy {
  text-decoration: none;
  color: rgb(255, 255, 255);
  display: block;
}

.stoi {
  box-sizing: border-box;
  height: 45px;
  margin: 0 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ras {
  font-size: 20px;
  color: #bfbfbf;
  margin: 0;
}

.content-items .mdi {
  color: var(--primary-color);
  font-size: larger;
}

.geo {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: var(--primary-color);
  width: 100px;
  margin:  0 20px;
}

.content-items {
  padding: 10px;
}

.contact-number {
  text-align: left;
  display: flex;
}

.content-items h2 {
  font-size: 32px;
  font-weight: lighter;
  color: #FFFFFF;
}

.flat-form-field {
  margin: 15px 0;
  display: flex;
  align-items: center;
}

.flat-form-field .mdi {
  margin-right: 10px;
  color: #FFFFFF;
}

.select-field select {
  border-image: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 240px;
  font-size: large;
  font-weight: lighter;
  font-style: normal;
  border: 2px var(--primary-color-light) solid;
  border-radius: 35px;
  background: white;
  padding: 8px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--primary-color);
  width: 700px;
  border-radius: 35px;
  margin: 40px;
  height: 860px;
  padding: 40px;
  overflow: hidden;
}

.continue-btn {
  position: relative;
  border: none;
  border-radius: 100px 0 0 100px;
  background-color: var(--primary-color-light);
  color: white;
  width: 250px;
  left: 480px;
  bottom: 80px;
  font-size: large;
  display: flex;
  cursor: pointer;
  justify-content: end;
  box-shadow: 0px 5px 10px rgb(0, 0, 0, .3);
  transition: .2s;
  
}

.continue-btn:hover{
  box-shadow: 0px 5px 20px rgb(0, 0, 0, .3);
}

input {
  font-size: x-large;
}

.yolo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.plashki {
  background-color: #ededed;
  width: 300px;
  height: 310px;
  border-radius: 35px;
  display: block;
  padding: 40px;
  box-sizing: border-box;
}

.plashki .bi {
  color: var(--primary-color)
}

.podplas {
  color: #9198AB;
  font-size: x-large;

}

.plaska-sinia {
  background-color: var(--primary-color);
  width: 700px;
  height: 310px;
  border-radius: 35px;
  padding: 40px;
  display: block;
  color: white;
  box-sizing: border-box;
}

.all-plashki {
  display: flex;
  width: 700px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.all-plashki .plashki {
  margin: 20px;
}

.all-plashki .plaska-sinia {
  margin: 20px;
}

.all-plashki .plaska-sinia .podplas {
  color: var(--secondary-color);
}

.left-panel {
  width: 700px;
  padding: 20px;
}

.left-text {
  margin: 20px;
}

.all_content {
  display: flex;
  justify-content: space-evenly;
}

.snos {
  color: #aeb6cd;
  font-size: x-small;
  text-align: center;
}

.snoska {
  display: block;
  width: 500px;

}

input {
  border: 2px var(--primary-color-light) solid;
  border-radius: 35px;
  padding: 8px;
  font-weight: lighter;
  font-size: large;
  box-sizing: border-box;
}

.right-panel{
  display: flex;
  flex-direction: column;
  align-items: center;
}

option{
  font-weight: lighter;
}


.price {
  display: flex ;

}