@import url('https://fonts.cdnfonts.com/css/cofo-sans');
@import url("https://cdn.jsdelivr.net/npm/@mdi/font@7.2.96/css/materialdesignicons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap');




:root {
  font-family: 'CoFo Sans', sans-serif;
  --background-color: #FFFFFF;
  --primary-color: #007BFC;
  --primary-color-light: #1888FC;
  --secondary-color: #DDDDDD;
  --background-color: #f4f6fb;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  /* Браузер сначала попробует найти шрифт локально */
  src: local("CofoSans"),
    url("/static/js/font/CoFoSans.woff") format("woff")
}

label {
  color: white;
  font-size: 24px;
}

body {
  margin: 0;
}

input {
  font-size: x-large;
}

/* ============ STANDART ============ */

input {
  border: 2px var(--primary-color-light) solid;
  border-radius: 15px;
  padding: 8px;
  font-weight: lighter;
  font-size: xx-large;
  box-sizing: border-box;
  width: 450px;
}

option {
  font-weight: lighter;
}

/* =========== HEADER =========== */


header {
  display: flex;
  justify-content: space-between;
  align-self: center;
  width: 100%;
}

.logo {
  width: 150px;
  display: block;
  margin: 0;
  text-align: center;
  font-family: 'Comfortaa', cursive;
  text-decoration: none;
}

.back {
  padding: 15px;
  background-color: #f4f6fb;
}

.stoy {
  text-decoration: none;
  color: rgb(255, 255, 255);
  display: block;
}

.stoi {
  box-sizing: border-box;
  height: 45px;
  margin: 0 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ras {
  font-size: 20px;
  color: #bfbfbf;
  margin: 0;
}

.geo {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: var(--primary-color);
  width: 100px;
  margin: 0 20px;
}

.contact-number {
  text-align: left;
  display: flex;
}

.yolo {
  display: flex;
  align-items: center;
}

/* ============= CONTENT ============= */

.content-items .mdi {
  color: var(--primary-color);
  font-size: xx-large;
}

.mdi-chevron-right {
  font-size: 130px !important;
  color: white !important;
  text-align: center !important;
}

.content-items h2 {
  font-size: 32px;
  font-weight: lighter;
  color: #FFFFFF;
}

.flat-form-field {
  margin: 15px 0;
  display: flex;
  flex-direction: column;

}

.flat-form-field .mdi {
  margin-right: 10px;
  color: #FFFFFF;
}

.select-field select {
  border-image: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 2px var(--primary-color-light) solid;
  border-radius: 15px;
  padding: 8px;
  font-weight: lighter;
  font-size: xx-large;
  box-sizing: border-box;
  width: 450px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--primary-color);
  width: 700px;
  border-radius: 35px;
  margin: 40px;
  padding: 60px;
  overflow: hidden;
}

.content h2 {
  margin: 0;
}


.right-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.price {
  margin-top: 65px;
  display: block;
}

.price-1 {
  color: #FFFFFF;
  display: block;
  margin-top: 10px;
  font-weight: lighter;
  font-size: xx-large;
}

.form-label {
  display: flex;
}

.form-label h2 {
  font-weight: medium;
}

.form-label .mdi {
  margin-right: 10px;
  color: #FFFFFF;
}

.space-line {
  margin: 24px 0;
  height: 1px;
}

/* === Button layout === */

.continue-btn {
  border: none;
  border-radius: 100px 0 0 100px;
  background-color: var(--primary-color-light);
  color: white;
  position: relative;
  height: 170px;
  top: 170px;
  width: 250px;
  font-size: large;
  display: flex;
  cursor: pointer;
  justify-content: end;
  box-shadow: 0px 5px 10px rgb(0, 0, 0, .3);
  transition: .2s;

}

.continue-btn:hover {
  box-shadow: 0px 5px 20px rgb(0, 0, 0, .3);
}

.a50-by-50 {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

/* === Below form ===  */

.snos {
  color: #aeb6cd;
  font-size: x-small;
  text-align: center;
  font-family: "Roboto", "Arial", sans-serif;

}

.snoska {
  display: block;
  width: 500px;
}

/* ============= PLASHKI ============== */


.plashki {
  background-color: #ededed;
  width: 300px;
  height: 310px;
  border-radius: 35px;
  display: block;
  padding: 40px;
  box-sizing: border-box;
}

.plashki .bi {
  color: var(--primary-color)
}

.podplas {
  color: #9198AB;
  font-size: x-large;

}

.wide-plaska {
  background-color: var(--primary-color) !important;
  width: 700px !important;
}

.wide-plaska .plas {
  color: white;
}

.wide-plaska .podplas {
  color: whitesmoke;
}

.wide-plaska .bi {
  color: white;
}

.all-plashki {
  display: flex;
  width: 700px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.all-plashki .plashki {
  margin: 20px;
}

.all-plashki .plaska-sinia {
  margin: 20px;
}

.all-plashki .plaska-sinia .podplas {
  color: var(--secondary-color);
}

.left-panel {
  width: 700px;
  padding: 20px;
}

.left-text {
  margin: 20px;
}

/* ========= GENERAL ======== */

.all_content {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
}

/* ======= LOGIN FORM ======= */

.login-form {
  opacity: 1;
  background: none;
  width: 100%;
  height: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form form {
  background-color: var(--primary-color);
  border-radius: 35px;
  padding: 30px;
  font-family: "Roboto", "Arial", sans-serif;
}

.form-login-label {
  display: flex;
  align-items: center;
  color: white;
  font-size: x-large;
}

.form-login-label .mdi {
  margin-right: 20px;
}

.form-login-label h2 {
  margin: 0;
}

.form-login-button {
  border: 2px var(--primary-color-light) solid;
  border-radius: 15px;
  padding: 8px;
  font-weight: lighter;
  font-size: xx-large;
  box-sizing: border-box;
  width: 450px;
  color: white;
  background-color: var(--primary-color-light);
}

.blur {
  filter: blur(8px);
}

.hidden {
  display: none;
}

@media screen and (max-width: 1600px) {
  label {
    font-size: 20px;
  }

  input {
    font-size: large;
    width: 350px;
  }

  .select-field select {
    font-size: large;
    width: 350px;
  }

  .content {
    width: 550px;
  }

  .content-items h2 {
    font-size: x-large;
  }

  .content-items .mdi {
    font-size: x-large;
  }

  .left-panel {
    width: 500px;
  }

  .all-plashki {
    width: 500px;
  }

  .plashki {
    width: 210px;
    height: auto;
    padding: 30px;
  }

  .podplas {
    font-size: large;
    margin: 0;
  }

  .plas {
    margin: 0;
    margin-bottom: 10px;
  }

  .plashki .bi {
    width: 32px;
    height: 32px;
    margin-bottom: 10px;
  }

}