@import url('https://fonts.cdnfonts.com/css/cofo-sans');
@import url("https://cdn.jsdelivr.net/npm/@mdi/font@7.2.96/css/materialdesignicons.min.css");

:root {
  font-family: 'CoFo Sans', sans-serif;
  --background-color: #FFFFFF;
  --primary-color: #007BFC;
  --primary-color-light: #1888FC;
  --secondary-color: #DDDDDD;
  --background-color: #f4f6fb;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  /* Браузер сначала попробует найти шрифт локально */
  src: local("CofoSans"),
       url("/static/js/font/CoFoSans.woff") format("woff")
}

label{
  color: white;
  font-size: 24px;
}

body {
  margin: 0;
}

input {
  font-size: x-large;
}

/* ============ STANDART ============ */

input {
  border: 2px var(--primary-color-light) solid;
  border-radius: 15px;
  padding: 8px;
  font-weight: lighter;
  font-size: xx-large;
  box-sizing: border-box;
  width: 450px;
}

option {
  font-weight: lighter;
}

/* =========== HEADER =========== */


header {
  margin: 0px 300px;
  display: flex;
  justify-content: space-between;
  align-self: center;
}

.logo {
  width: 150px;
  height: 20px;
  display: block;
}

.back {
  padding: 15px;
  background-color: #f4f6fb;
}

.stoy {
  text-decoration: none;
  color: rgb(255, 255, 255);
  display: block;
}

.stoi {
  box-sizing: border-box;
  height: 45px;
  margin: 0 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ras {
  font-size: 20px;
  color: #bfbfbf;
  margin: 0;
}

.geo {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: var(--primary-color);
  width: 100px;
  margin: 0 20px;
}

.contact-number {
  text-align: left;
  display: flex;
}

.yolo{
  display: flex;
  align-items: center;
}

/* ============= CONTENT ============= */

.content-items .mdi {
  color: var(--primary-color);
  font-size: xx-large;
}

.content-items h2 {
  font-size: 32px;
  font-weight: lighter;
  color: #FFFFFF;
}

.flat-form-field {
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  
}

.flat-form-field .mdi {
  margin-right: 10px;
  color: #FFFFFF;
}

.select-field select {
  border-image: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 2px var(--primary-color-light) solid;
  border-radius: 15px;
  padding: 8px;
  font-weight: lighter;
  font-size: xx-large;
  box-sizing: border-box;
  width: 450px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--primary-color);
  width: 700px;
  border-radius: 35px;
  margin: 40px;
  padding: 60px;
  overflow: hidden;
}

.content h2 {
  margin: 0;
}


.right-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.price {
  margin-top: 65px;
  display: block;
}

.price-1 {
  color: #FFFFFF;
  display: block;
  margin-top: 10px;
  font-weight: lighter;
  font-size: xx-large;
}

.form-label {
  display: flex;
}

.form-label h2{
  font-weight: medium;
}

.form-label .mdi {
  margin-right: 10px;
  color: #FFFFFF;
}

.space-line {
  margin: 24px 0;
  height: 1px;
}

/* === Button layout === */

.continue-btn {
  border: none;
  border-radius: 100px 0 0 100px;
  background-color: var(--primary-color-light);
  color: white;
  position: relative;
  height: 170px;
  top: 170px;
  width: 250px;
  font-size: large;
  display: flex;
  cursor: pointer;
  justify-content: end;
  box-shadow: 0px 5px 10px rgb(0, 0, 0, .3);
  transition: .2s;

}

.continue-btn:hover {
  box-shadow: 0px 5px 20px rgb(0, 0, 0, .3);
}

.a50-by-50{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

/* === Below form ===  */

.snos {
  color: #aeb6cd;
  font-size: x-small;
  text-align: center;
  font-family: "Roboto", "Arial", sans-serif;

}

.snoska {
  display: block;
  width: 500px;
}

/* ============= PLASHKI ============== */


.plashki {
  background-color: #ededed;
  width: 300px;
  height: 310px;
  border-radius: 35px;
  display: block;
  padding: 40px;
  box-sizing: border-box;
}

.plashki .bi {
  color: var(--primary-color)
}

.plas {

}
.podplas {
  color: #9198AB;
  font-size: x-large;

}

.plaska-sinia {
  background-color: var(--primary-color);
  width: 700px;
  height: 310px;
  border-radius: 35px;
  padding: 40px;
  display: block;
  color: white;
  box-sizing: border-box;
}

.all-plashki {
  display: flex;
  width: 700px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.all-plashki .plashki {
  margin: 20px;
}

.all-plashki .plaska-sinia {
  margin: 20px;
}

.all-plashki .plaska-sinia .podplas {
  color: var(--secondary-color);
}

.left-panel {
  width: 700px;
  padding: 20px;
}

.left-text {
  margin: 20px;
}

/* ========= GENERAL ======== */

.all_content {
  display: flex;
  justify-content: space-evenly;
}

/* ======= LOGIN FORM ======= */

.all_content{
}

.login-form {
  opacity:    1; 
  background: none; 
  width:      100%;
  height:     100%; 
  z-index:    10;
  top:        0; 
  left:       0; 
  position:   fixed; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form form{
  background-color: var(--primary-color);
  border-radius: 35px;
  padding: 30px;
  font-family: "Roboto", "Arial", sans-serif;
}

.form-login-label{
  display: flex;
  align-items: center;
  color: white;
  font-size: x-large;
}

.form-login-label .mdi{
  margin-right: 20px;
}

.form-login-label h2{
  margin: 0;
}

.form-login-button{
  border: 2px var(--primary-color-light) solid;
  border-radius: 15px;
  padding: 8px;
  font-weight: lighter;
  font-size: xx-large;
  box-sizing: border-box;
  width: 450px;
  color: white;
  background-color: var(--primary-color-light);
}

.blur{
  filter: blur(8px);
}

.hidden{
  display: none;
}